.bannerImg{
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.menubar{
    background-color: #007bff;
    
}
.menubar .logo{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top: 9px;

}
.logo i {
    margin-right: 10px;
}

.menubar ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: auto;
    float: right;
}

.menubar ul li a{
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.active{
    background: royalblue;
}